<configuration debug="true">
	<property name="LOGBACK_CLASSIC_CONSOLE_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n%ex{full}"/>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOGBACK_CLASSIC_CONSOLE_PATTERN}</pattern>
		</encoder>
	</appender>

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
